/*
wood brown: A89F68;
army green: 41521F;
*/

*{
	font-family: 'Roboto', sans-serif;
	
}



.primer-section{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 300px;
	padding-left: 80px;
	position: center;
}

.primer-section h1{
	padding-top: 2em;
	color:#fff;
	font-weight: 900;
	font-size: 30px;
}

.primer-section p{
	padding-top: 5px;
	color:#fff;
	font-weight: 500;
	font-size: 15px;
}

.navbar{
	background-color: transparent;
	border:none;
}

.thumbnail{
	background: #41521F;
	color: #fff;
	padding: 10px;
	border-color: #41521F;
	width: 82px;
}

li a{
	color:white !important;
	text-shadow: 3px 3px 2px #000;
   color: #666;
}



.foundation-information{
	font-size: 12px;
	color: grey;
}

.titulo{
	font-size:31px;
	color: #B8B57A;
	font-weight:bold;
}

.parrafo{
	color: grey;
}

#foundation{
	margin-top: 30px;
	margin-bottom: 70px;
	margin-right: 20px;
}

.texto-foundation{
	padding-top: 150px;
}

.sub{
	font-size:25px;
	color: #B8B57A;
	font-weight:bold;
}

#help{
	background-color: #B8B57A;
	height: 500px;

}

.thumbnail-2{
	background: #41521F;
	color: #fff;
	padding: 10px;
	border-color: #41521F;
	width: 82px;
	border-radius: 4px;
}

img.cosita{
	margin-top: 110px;
	border: 10px solid white;
}

.container-help{
	margin-top: 150px;
	margin-left: 150px;

}

.titulo-help{
	font-size: 12px;
	color: white;
	margin-top: 110px;

}

.sub-help{
	font-size:31px;
	color:#41521F;
	font-weight:bold;
}

.parrafo-help{
	color:white;
	margin-bottom:20px;
}

.cuarto-section{
	background-image: url(../img/all.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	position: center;
}

.texto-koalas{
	font-size: 12px;
	color: white;
	
}

.parrafo-koalas{
	font-size: 30px;
	color: white
}